body{
  background-color: #65d6ce;
}

h1 {
  color: #7b5ab9;
}
h1.header{
  font-size: 40px;
  text-align: center;
}
h1{
  margin: 0;
}

.offset {
  flex:1;
  text-align:center;
  font-size: 30px;
  color:#7b5ab9;
  font-weight: bolder;
}
.cell {
  height:42px;
  width:42px;
  border-radius: 15px;
  animation: morphing 5s infinite;
  margin: 3px;
}

.cell.empty:hover {
  background-color: #7b5ab9!important;
}

.wrapper{
  position:relative;
}

.wave {
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.button {
  font-weight: bold;
  flex: 1;
  padding: 10px 20px;
  background-color: #95e1d3;
  display: block;
  text-align: center;
  color: #7b5ab9;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #7b5ab9;
  border-bottom-width: 6px;
}
.button.disabled {
  cursor: arrow;
  background-color:gray;
  color:black;
  opacity: 0.5;
}
.mtop {
  margin-top: 20px;
}

.App {
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content:center;
  position:relative;
}

.AppWrapper{
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position:relative;
  }

.sidebar {
  padding: 0 20px;
}

.debug {
  font-family: monospace;
  padding: 20px;
  background-color: #f3f3f3;
}

.simulator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addressWrapper {
  display: flex;
  align-items: center;
}
.cappedAddress {
  max-width: 130px;
  color: gray;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  background-color: #52B987;
}

.bar {
  height: 20px;
  width: 100%;
  margin-bottom: 20px;
  background-color: gainsboro;
  transition: width 1s ease-in;
}

.barProgress {
  height: 100%;
  
  width: 0%;
  background-color:#7b5ab9;
  transition: width 30s ease-in;
}

.barProgress {
  animation: w100 30s linear forwards;
}
.bar .barProgress {
  width: 100%;
}
@keyframes w100 {
  from { width: 0%; }
  to { width: 100%; }
}
@-moz-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@-o-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
