.App {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.sidebar {
  padding: 20px;
}

.debug {
  font-family: monospace;
  padding: 20px;
  background-color: #f3f3f3;
}

.simulator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addressWrapper {
  display: flex;
  align-items: center;
}
.cappedAddress {
  max-width: 130px;
  color: gray;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  background-color: #52B987;
}