body{
  background-color: #eaffd0;
}

h1 {
  color: #f38181;
}
h1.header{
  font-size: 40px;
  text-align: center;
}
h1{
  margin: 0;
}
.App {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.sidebar {
  padding: 0 20px;
}

.debug {
  font-family: monospace;
  padding: 20px;
  background-color: #f3f3f3;
}

.simulator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addressWrapper {
  display: flex;
  align-items: center;
}
.cappedAddress {
  max-width: 130px;
  color: gray;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  background-color: #52B987;
}

.bar {
  height: 20px;
  width: 100%;
  background-color: gainsboro;
  transition: width 1s ease-in;
}

.barProgress {
  height: 100%;
  width: 0%;
  background-color:#7b5ab9;
  transition: width 30s ease-in;
}

.barProgress {
  animation: w100 30s linear forwards;
}
.bar .barProgress {
  width: 100%;
}
@keyframes w100 {
  from { width: 0%; }
  to { width: 100%; }
}